* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
	background: linear-gradient(to top, hsla(240, 100%, 70%, ), hsla(240, 100%, 10%, ));
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;
}

.container {
	// background-color: rgba(166, 172, 230, 0.918);
	// background-color: #000;
  // display: flex;
	// flex-direction: column;
  // justify-content: center;
  // align-items: center;
   min-height: 100vh;
	 min-width: 100vw;
	 padding: 0 1rem;
}

.flex {
	display: flex;
}
.align-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
.rect {
  width: 300px;
  height: 200px;
  background-color: #00f;
  animation: tortburchak 4s ease-in 0s infinite normal both;
		&:hover {
		animation-play-state: paused;
	}
}

.around {
	  width: 400px;
  height: 100px;
  background-color: #00f;
  animation: around 4s ease-in 0s infinite normal both;
		&:hover {
		animation-play-state: paused;
}
}


@keyframes around {
0% {transform: translate(-600px, 0);}
20%, 25% {transform: translateX(500px) translateY(0);}
45%, 50% {transform: translateY(300px) translateX(500px);}
70%, 75% {transform: translateX(-500px) translateY(300px);}
95%, 100% {transform: translateY(-300px) translateX(-500px);}
}

@keyframes tortburchak {
	0% {
		transform: translateX(-100vw);
	} 
	25% {background-color: pink;}
	50% {background-color: yellow;}
	75% {background-color: green;}
	100% {
		transform: translateX(100vw);
		background-color: red;
		border-radius: 50px;
	}
}

.mouse {
  width: 200px;
  height: 350px;
  border-radius: 43%;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.circle {
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  animation: aylanish 3s ease-in 0s infinite both;
}

@keyframes aylanish {
  0% {
    transform: translateY(-10vh);
		opacity: 0;
  }
	25% {opacity: 0;}
	35% {opacity: 0;}
	45% {opacity: 0;}
	50% {opacity: 1;}
	75% {opacity: 1;}
  100% {
		opacity: 0.1;
    background-color: #fff;
    transform: translateY(250px);
  }
}

.heart {
	margin-top: 20rem;
	width: 350px;
	height: 350px;
	background-color: red;
	transform: rotate(45deg);
	border-bottom-right-radius: 30px;
	position: relative;
	filter: drop-shadow(30px 30px 30px grey);
	animation: yurak 1s linear infinite 4 alternate both;
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: #f00;
		position: absolute;
		right: 50%;
	}
		&::after {
		content: "";
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: #f00;
		position: absolute;
		bottom: 50%;
	}
}
@keyframes yurak {
	to {
		transform: scale(1.3);
	}
}

.drop {
	width: 40px;
	height: 40px;
	border-radius: 0% 50% 50% 50%;
	transform: translateY(-100%) rotate(45deg);
	background-color: aqua;
	position: fixed;
	top: 0;
	left: var(--x);
	animation: tomchi 1s ease-in infinite;
	animation-delay: var(--delay);
}

@keyframes tomchi {
	to {
		transform: translateY(100vh) rotate(45deg);
	}
}

.cloud {
	width: 300px;
	height: 100px;
	border-radius: 50px;
	background-color: #fff;
	filter: drop-shadow(0 0 30px grey);
	position: fixed;
	left: 0;
	top: calc(var(--y) + 70px);
	z-index: 99;
	transform: translateX(-100%);
	animation: cloud 5s ease-in 0s infinite alternate;
	animation-delay: var(--delay);
	&::before {
		content: "";
		position: absolute;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		bottom: 30px;
		right: 50px;
		background-color: inherit;
	}
	&::after {
		content: "";
		position: absolute;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		bottom: 80px;
		left: 50px;
		background-color: inherit;
	}
}

@keyframes cloud {
	to {
		transform: translateX(calc(100vw + 100%));
	}
}

@media screen and (max-width: 600) {
	.container {
		width: 440px;
		.flex {
			.cloud {
		width: 200px;
		height: 65px;
		border-radius: 40px;
		background-color: red;
		}
	}
		}

}